@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body {
	@apply bg-gray-100;
}

/* modern theme */
@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}
